.bgColor{
    background-color: #181C32;
}
.textColor{
    color: #FFFFFF;
    font-size:medium;
}
.textColor1{
    color: #FFFFFF;
    font-size:small;
}
.sticky-sidebar {
    position:fixed;
    /* max-width: 20%; */
}

  