<div class="row mt-3">
    <div class="col-md-12">
        <ol class="breadcrumb" >
            <li class="breadcrumb-item "><a class="st" routerLink="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active">Add Category</li>
          </ol>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6 mx-auto shadow-sm p-3 mb-5 bg-body rounded">
        <form [formGroup]="addcategory" (ngSubmit)="saveCategory()">
            <!-- label input -->
            <div class="form-group">
                <label for="label" class="form-label">label</label>
                <input formControlName="label" type="text" name="label" id="label"  class="form-control">
                <!-- Validation taskName-->
                <small class="text-danger" *ngIf="addcategory.get('label')?.invalid && (addcategory.get('label')?.touched || addcategory.get('label')?.dirty)">
                    <p *ngIf="addcategory.get('label')?.errors?.['required']">
                        this field is required
                    </p>
                    <p *ngIf="addcategory.get('label')?.errors?.['minlength']">
                        this field should be greater than 5 caracter
                    </p>
                     
                    <p  *ngIf="addcategory.get('label')?.errors?.['maxlength']">
                        this max is 19 caracter
                    </p>
                    <p *ngIf="addcategory.get('label')?.errors?.['pattern']">
                        this field not respect our pattern
                    </p>
                </small>
            </div>
          
            <!-- icon input -->
            <div class="form-group">
                <label for="icon" class="form-label">Icon</label>
                <input formControlName="icon" type="text" name="icon" id="icon" class="form-control">
                <!-- Validation taskName-->
                <small class="text-danger" *ngIf="addcategory.get('icon')?.invalid && (addcategory.get('icon')?.touched || addcategory.get('icon')?.dirty)">
                    <p *ngIf="addcategory.get('icon')?.errors?.['required']">
                        this field is required
                    </p>
                    <p *ngIf="addcategory.get('icon')?.errors?.['minlength']">
                        this field should be greater than 5 caracter
                    </p>
                     
                    <p  *ngIf="addcategory.get('icon')?.errors?.['maxlength']">
                        this max is 19 caracter
                    </p>
                    <p *ngIf="addcategory.get('icon')?.errors?.['pattern']">
                        this field not respect our pattern
                    </p>
                </small>
            </div>
            <!-- color input -->
            <div class="form-group">
                <label for="color" class="form-label">color</label>
                <input formControlName="color" type="color" name="color" id="color" class="form-control">
                <!-- Validation taskName-->
                <small class="text-danger" *ngIf="addcategory.get('color')?.invalid && (addcategory.get('icon')?.touched || addcategory.get('icon')?.dirty)">
                    <p *ngIf="addcategory.get('color')?.errors?.['required']">
                        this field is required
                    </p>
                    <p *ngIf="addcategory.get('color')?.errors?.['minlength']">
                        this field should be greater than 5 caracter
                    </p>
                     
                    <p  *ngIf="addcategory.get('color')?.errors?.['maxlength']">
                        this max is 19 caracter
                    </p>
                    <p *ngIf="addcategory.get('color')?.errors?.['pattern']">
                        this field not respect our pattern
                    </p>
                </small>
            </div>

            <!-- Submit button -->
            <div class="d-grid">
                <ng-container >
                    <button   class="my-2 btn btn-primary"><i class="fa fa-send"></i> Submit</button>
                </ng-container>
            </div>
          </form>
    </div>
</div>