<div class="row mt-3">
  <div class="col-md-12">
      <ol class="breadcrumb" >
          <li class="breadcrumb-item "><a class="st" routerLink="/admin">Dashboard</a></li>
          <li class="breadcrumb-item active">Category</li>
        </ol>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12 shadow-sm p-3 mb-5 bg-body rounded">
      <div class="d-flex justify-content-between mb-2">
        <div >
          <h4>List Of Categorys</h4>
        </div>
        <div >
          <button routerLink="/admin/category/addCategory" class="btn btn-primary mx-3 ">New Category</button>
        </div>
      </div>
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Label</th>
            <th>Icon</th>
            <th>Colr</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories ; index as i">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{category.label}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1"><i class="fa" [ngClass]="category.icon" [ngStyle]="{color: category.color}"> {{category.icon}}</i></p>
            </td>
            <td [ngStyle]="{color: category.color}">{{category.color}}</td>
            <td class="align-middle">
              <a data-mdb-toggle="tooltip" [routerLink]="['/admin/category/editCategory/',category._id]" 
                ><i class="fa fa-pencil text-primary me-4" aria-hidden="true"></i
              ></a>
              <a data-mdb-toggle="tooltip" (click)="destroyCategory(category?._id ?? '')" title="Remove"
                ><i class="fa fa-trash text-danger" aria-hidden="true"></i
              ></a>
            </td>
          </tr>   
        </tbody>
      </table>
  </div>
</div>

